{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>:: Remedis ::</title>
	<link href="{% static 'schedule/css/css.css' %}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{% static 'schedule/js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'schedule/js/datetime.js' %}"></script>
</head>

<body onload="startTime()">
	<div id="top">
		<div id="logo"><img src="{% static 'schedule/gfx/logo.png' %}" width="400" height="100" alt="logo" /></div>
		<div id="topcontent">
			<div id="dzien_godzina">
				{{ weekday.get_day_of_the_week_display }}
				<div id="zegarek"></div>
			</div>
			<div id="data">{{ date }}</div>
		</div>
	</div>
	<!-- CONTENT -->
	<div id="content">
		<div id="lekarze">
			<div id="wrapper">

			<div class="grupa">
			<!-- start loop -->
			{% for shift in shift %}
			<div class="lekarz">
				<table class="tabelka">
				<tr>
					<td class="nazwa">{{ shift.doctor.phd }} {{ shift.doctor.first_name }} {{ shift.doctor.last_name }}</td>
					{% if shift.doctor.absence.holiday %}
					<td class="gabinet"><urlop>URLOP</urlop></td>
					{% elif shift.doctor.absence.absence %}
					<td class="godziny"><strike>{{ shift.start_time }}-{{ shift.finish_time }}</strike></td>
					<td class="gabinet">NB</td>
					{% else %}
					<td class="godziny">{{ shift.start_time }}-{{ shift.finish_time }}</td>
					<td class="gabinet">gabinet {{ shift.office.office }}</td>
					{% endif %}
				</tr>
				</table>
			</div>
			{% if forloop.counter|divisibleby:3 %}
			</div>

			<div class="grupa">
			{% endif %}
			{% endfor %}
			<!-- end loop -->
			</div>
		</div>
	</div>
	<div id="footer"><marquee scrollamount="5" scrolldelay="3">NZOZ REMEDIS Wrocław, Mińska 5 tel (71)780-30-50  ||</marquee>
	</div>
</body>
</html>
